@import "./reset.css";

/* #region Подключение шрифтов */

/* #region Libre Franklin */
@font-face {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf");
}

@font-face {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf");
}

/* #endregion */

/* #region Tenor Sans */
@font-face {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Tenor_Sans/TenorSans-Regular.ttf");
}

/* #endregion */

/* #endregion */

.page-wrapper {
    display: flex;
    flex-direction: column;

    padding: 0 25px;
}

/* #region Шапка */
.header {
    border-bottom: 1px solid #e5e5e5;

    margin-bottom: 70px;
}

.header .container {
    max-width: 1250px;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
    margin: 0 auto;

    user-select: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;

    column-gap: 50px;
}

.nav-item {
    font-family: "Libre franklin";
    font-size: 14px;
    line-height: 22px;
}

.nav-link {
    color: #000000;
}

@media screen and (max-width: 450px) {
    .header .container {
        flex-direction: column;
        row-gap: 10px;
    }

    .nav-menu {
        flex-direction: column;
        row-gap: 10px;
    }
}

/* #endregion */

.latest-news {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;

    margin-bottom: 40px;
}

/* #region Стили новостей */
.news-item {
    /* position: relative; */
    max-width: 400px;
    display: flex;
    flex-direction: column;

    column-gap: 51px;
    transition: transform 0.5s ease-in, box-shadow 0.75s ease-out;
    -webkit-box-shadow: 0px 4px 42px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 42px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 42px 2px rgba(34, 60, 80, 0.2);
}

.news-item:hover {
    transform: scale(1.07, 1.07);
    -webkit-box-shadow: 0px 4px 42px 22px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 42px 22px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 42px 22px rgba(34, 60, 80, 0.2);
}

.news-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    margin-bottom: 10px;
}

.news-type {
    font-family: "Libre Franklin";
    font-size: 10px;
    color: #999999;

    letter-spacing: 2px;
    margin-bottom: 18px;

    user-select: none;
}

.news-title {
    font-family: "Tenor Sans";
    font-size: 20px;
    color: #000000;

    margin-bottom: 27px;
}

.latest-news .news-item {
    min-width: 1052px;
    flex-direction: row;
}

.latest-news .news-title {
    font-size: 36px;
}

.news-description {
    font-family: "Libre Franklin";
    font-size: 16px;
    color: #777777;

    margin-bottom: 28px;
}

.news-author {
    /* position: absolute;
    bottom: 5px; */
    font-family: "Libre Franklin";
    font-weight: bold;
    font-size: 10px;
    color: #000000;
}

.news-author::before {
    content: 'By ';
}

.news-type,
.news-title,
.news-author {
    text-transform: uppercase;
}

@media screen and (max-width: 1052px) {
    .news-item {
        min-width: 400px;
        flex-direction: column;
    }

    .news-image {
        display: flex;
        justify-content: center;

        margin-bottom: 5px;
    }

    .news-description {
        display: none;
    }

    .news-author {
        text-align: right;
    }
}

/* #endregion */

/* #region Новости */

.news .news-item {
    padding: 20px 5px;
}

.news {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;

    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
}

/* #endregion */